



#botones_recuperar
{
  display: none;
}
#rec_cont
{
  display: none;
}
#rec_rfc2{
  display: none;
}#rec_rfc{
  display: none;
}

#rec_rfc_esc{
  display: none;
}


.contenedor-modal {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}


.contenedor-modal button {
  position: relative;
  top: 40%;
}


.contenedor-modal2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.contenedor-modal2 button {
  position: relative;
  top: 40%;
}



.contenedor-modal3{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.contenedor-modal3button {
  position: relative;
  top: 40%;
}
